html,
body,
.app,
.main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#theIssue {
  color: #dc143c;
  font-weight: bold;
}

.donate-button {
  //background: #f4585e;
  background: #f9cab7;
  border-bottom: 4px solid #dbaf9d;
  color: #fff;
}

.volunteer-button {
  //background: #2c96a2;
  background: #f9cab7;
  border-bottom: 4px solid #dbaf9d;
  color: #fff;
}

ul.button-list li {
  list-style: none;
  display: inline-block;
  zoom: 1;
  margin: 0 15px 10px 15px;
  padding: 0;
}

.donate-button,
.volunteer-button {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  line-height: 18px;
  font-family: "Gotham-Book";
  letter-spacing: 1px;
  //font-family: "pt-serif", serif;
  //font-style: italic;
  overflow: hidden;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 3px;
  //height: 50px;
  //width: 200px;
}

.header-image {
  background-image: url(../dist/img/logoTree01.png);
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -ms-flex-negative: 0;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

////////////////////////////////////////////////

.basicBox {
  width: 100px;
  height: 40px;
  margin: 15px;
  color: #4274d3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect {
  fill: none;
  stroke: #4274d3;
  stroke-width: 1;
}

.basicBox:hover svg rect {
  stroke: #4274d3;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

////////header links///////
.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.words {
  margin-top: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

/*
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06d6a0;
}

///////////kk
$red: #f44336;
@mixin transition($in) {
  transition: $in;
  -webkit-transition: $in;
  -moz-transition: $in;
  -o-transition: $in;
  -ms-transition: $in;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@mixin animation($in) {
  animation: $in;
  -webkit-animation: $in;
  -moz-animation: $in;
  -o-animation: $in;
  -ms-animation: $in;
}

.myButt {
  padding: 15px;
  display: block;
  cursor: pointer;
  font-size: 17px;
  background-color: transparent;
  position: relative;
  border: 2px solid #fff;

  @include transition(all 0.5s ease);
}

// ################ THREE

.three {
  color: white;
  border-color: transparent;

  &:before {
    width: 0;
    height: 1px;
    content: " ";
    background-color: $red;
    position: absolute;
    top: 0;
    left: 50%;

    @include transition(all 0.3s ease);
  }

  &:after {
    @extend .three:before;
    top: 100%;
  }

  &:hover {
    letter-spacing: 4px;
    color: $red;

    &:before {
      width: 100%;
      left: 0;
    }
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

///video
.label-section-01 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: red;
}

.content-section-01 {
  font-size: 25px;
}

.label-section-03 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 50px;
  //color: red;
  color: #f9cab7;
  font-family: "Gotham-Bold";
}

.stat-short {
  background-image: url(../dist/img/brushout.png);
}

.stat {
  display: inline-block;
  background-size: contain;
  background-position: 50%;
  padding: 10px 15px;
  margin: -10px;
  background-repeat: no-repeat;
}

.hover-grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

///parallax
.parallax-01 {
  max-width: max-width;
  background-color: #f9cab7;
  height: 120px;
  padding-top: 20px;
}

.parallax-02 {
  background-image: url(../dist/img/parallax-01.png);
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-03 {
  background-image: url(../dist/img/parallax-02.png);
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//slide show
.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.right-arrow,
.left-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
    transform: scale(1.1);
  }
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

////logos-slider
.logos-slider {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 50%;
  overflow: hidden;
  white-space: nowrap;
  padding: 0em 0em;
  //border-style: dashed;
}
